
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    user-select: none;
}
.major-div{
    width: 100%;
    min-height: 100vh;
    display: none;
    visibility: hidden;
    position: relative;
    transition: all 5s;
}
.major-div.active{
    display: block;
    visibility: visible; 
    margin-left: 0rem;
}
.logo-div{
    width: 7rem;
    height: 3rem;
    /*used contain to ensure it maintains the maximum logo size*/
    object-fit: contain;
}
.intro.hidden{
    display: none;
    visibility: hidden; 
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    user-select: none;
    background-color: rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.header-div{
    width: 100%;
    min-height: 4rem;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: blue;
    gap: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    z-index: 6;
    overflow: hidden;
    box-sizing: border-box;
}
.toggled-menu{
    position: absolute;
    width: auto;
    height: auto;
    right: 0.2rem;
    top: 2.5rem;
    display: none;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 2rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    z-index: 21;
    backdrop-filter: blur(1rem);
    border-bottom-left-radius: 2rem;
    background-color: transparent;
}
.toggled-menu.active{
    display: flex;
    visibility: visible;
}
.fa-close{
    display: none;
    visibility: hidden;
    color: rgba(255,0,0,1);
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    font-size: 2rem;
    z-index: 21;
    backdrop-filter: blur(1rem);
    width: fit-content;
    height: fit-content;
}
.fa-bars{
    display: none;
    visibility: hidden;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    font-size: 2rem;
    z-index: 21;
    backdrop-filter: blur(1rem);
    width: fit-content;
    height: fit-content;
    color: rgba(255,255,255,1);
}
.header-content{
    width: auto;
    background-color: transparent;
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
    box-shadow: 0.01rem 0.01rem 0.5rem -1px blue,-0.01rem -0.01rem 0.5rem -1px white; 
}
.header-content a{
    color: blue;
}
.header-content a:hover{
    color: rgba(255,255,255,1);
}
a{
    text-decoration: none;
}
.section-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0.5rem;
    width: fit-content;
    height: fit-content;
    color: rgba(255,255,255,1);
    box-sizing: border-box;
    padding: 0.2rem 0.5rem;
    text-align: center;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0.01rem 0.01rem 0.5rem -1px blue,-0.01rem -0.01rem 0.5rem -1px white; 
    font-weight: bolder;
    font-size: 1.5rem;
    border-radius: 2rem;
    z-index: 20;
    backdrop-filter: blur(1rem);
}
button.work-with-me,.fa-bars,.fa-close{
    cursor: pointer;
}

.header-content:hover{
    color: white;
}
.main-div{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: rgba(0,0,0,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    z-index: 5;
}

@media screen and (max-width: 591px){
    div.intro-wrapper{
        width: 100%;
        height: 100vh;
        padding-top: 30rem;
        padding: 0.5rem 0.5rem;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1)),url("./MkuuBackgroundRemoved.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    div.intro-wrapper p.intro-text{
        text-align: left;
    }
    div.social-div{
        display: none;
        visibility:hidden;
    }    
    div.header-div{
        display: none;
        visibility: hidden;
    }
    .fa-close.active{
        display: block;
        visibility: visible;
    }
    .fa-bars.active{
        display: block;
        visibility: visible;
    }  
}
.intro-wrapper{
    position: relative;
    width: 40rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
/*rotate the whole div, but first of all just write things plainly*/
.social-div{
    width: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    perspective: 10rem;
}
.follow-span{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    text-wrap: nowrap;
    transform: rotateZ(90deg);
}
.social-separator{
    width: 4rem;
    height: 0.05rem;
    margin-top: 2rem;
    background-color: blue;
    border: 0.1rem solid blue;
    transform-origin: top;
    transform: rotateZ(90deg) translateY(250%);
}
.fa-brands{
    position:absolute;
    top: 0rem;
    left: 0rem;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    background-color: white;
    box-sizing: border-box;
    border-radius: 0.25rem;
}
.single-skill .logo-div .fa{
    position:absolute;
    top: 0rem;
    left: 0rem;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 0.25rem;
}
.single-skill:nth-of-type(even) .logo-div .fa{
    color: rgba(0,255,0,1);
}

.portfolio-intro{
    width: 35rem;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.intro,.side{
    font-family: "Courier New",monospace,"monospace";
}
.pro-slider{
    width:100%;
    height: 2rem;
    overflow: hidden;
    position: relative;
    margin: 2rem 0rem;
}
.professional-intro{
    font-size: 1.7rem;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 5s smooth;
    top: 0rem;
    animation: marginAnime 10s  alternate infinite;
}
@keyframes marginAnime{
    0%{
        top: 0rem;
    }
    25%{
        top: -3rem;
    }
    50%{
        top: -6rem;
    }
    75%{
        top: -9rem;
    }
    100%{
        top: -12rem;
    }
}
.professional-description{
    color: rgba(0,0,255,1);
    display: block;
    visibility: visible;
    font-weight: bold;
    transition: all 5s smooth;
    animation: colorAnime 5s alternate infinite;
}
.professional-description.active{
    position: absolute;
    top: 0rem;
    left: 0rem;
}
@keyframes colorAnime{
    0%{
        color: rgba(0,0,255,1);
    }
    25%{
        color: rgba(255,0,255,1);  
    }
    50%{
        color: rgba(150,50,255,1);
    }
    75%{
        color: rgba(0,150,255,1);
    }
    100%{
        color: rgba(0,255,0,1);
    }
}
.intro-text{
    font-size: 2.3rem;
    margin: 2rem 0rem;
    text-align: left;
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.full-description{
    margin: 2rem 0rem;
    color: rgba(255,255,255,1);
}
.work-with-me{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: blue;
    color: white;
    border-radius: 2rem;
    border: none;
    box-sizing: border-box;
    margin: 2rem 0rem;
    cursor: pointer;
}
.work-with-me:hover{
    background-color: black;
    color: rgba(0,0,255,1);
    box-shadow: 0.1rem 0.1rem 0.5rem -4px blue,-0.1rem -0.1rem 0.5rem -4px white; 
}
.profile-div{
    width: 35rem;
    height: 40rem;
    perspective: 100rem;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 551px){
    div.profile-div{
        display:none;
        visibility: hidden;
    }
}
img.actual-profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}
.social-wrapper{
    width: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    perspective: 100rem;
}




/*for the skill cards */
.cards-wrapper{
    position: absolute;
    top: calc(100vh/3);
    left: 0;
    /*width: 30rem;
    height: 30rem;*/
    width: 100%;
    height: 100%;
    transform: rotateX(-20deg) rotateY(0deg);
    transform-origin: center;
    transform-style: preserve-3d;
    animation: wrapperRotate 30s linear infinite;
}
@keyframes wrapperRotate {
    0%{
        transform: rotateX(-20deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-20deg) rotateY(360deg);   
    }
}
.card{
   width: 10rem;
   height: 10rem;
   left: 35%;
   transform-style: preserve-3d;
   background-color: transparent;
   backdrop-filter: blur(10rem);
   border: none;
   position: absolute;
   border-radius: 1rem;
   backface-visibility: hidden;
   transition: 0.45s smooth;
   transform: rotateY(calc(var(--translate-difference)*59deg)) translateZ(10rem);
   /*animation: cardIllusion 10s linear infinite;*/
   box-shadow: 0.1rem 0.1rem 0.5rem -4px blue,-0.1rem -0.1rem 0.5rem -4px black; 
}
@keyframes cardIllusion {
    0%{
        transform: translateZ(calc(var(--translate-difference)*4rem)) translateX(calc(var(--translate-difference)*2rem));
    }
    100%{
        transform: translateZ(calc(var(--translate-difference)*20rem)) translateX(calc(var(--translate-difference)*-5rem));
    }

}
.card img.skill-img{
    width: 100%;
    height: 100%;
    /*contain preserves the originality of the picture as compared to cover*/
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
}
.card div.skill-name{
    z-index: 2;
    width: auto;
    text-wrap: nowrap;
    height: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 1rem;
    left: 0rem;
    overflow: hidden;
    color: white;
    background-color: transparent;
    border-radius: 2rem;
    padding: 0.3rem;
    box-sizing: border-box;
    backdrop-filter: blur(1rem);
    border: none;
    box-shadow: 0.0001rem 0.0001rem 1.5rem 5px blue; 
}
div.name-wrapper{
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    background-color: transparent;
    border-radius: 1rem;
    
}
.card span.fa{
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 2rem;
    color: blue;
    background-color: white;
    padding: 0rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.5rem -5px blue,-0.1rem -0.1rem 0.5rem -5px green; 
}
/*-----------End of skil cards-------- */


/*for the social media icons styling*/
/*.wrapper{
    position: relative;
    width: 2rem;
    height: 2rem;
    transform-style: preserve-3d;
    animation: rotateLeftRight 10s linear infinite;
}
.front{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0rem;
    background-color: blue;
    border-radius: 0.5rem;
    transform: translateZ(0.25rem);
    backface-visibility: hidden;

}
.back{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0rem;
    background-color: blue;
    transform: translateZ(-0.25rem) rotateY(180deg);
    border-radius: 0.5rem;
    backface-visibility: hidden;
}
.top{
    width: 2rem;
    height: 0.5rem;
    background-color: blue;
    position: absolute;
    top: 0rem;
    transform: translateZ(0.25rem) rotateX(-90deg);
    border-radius: 0.25rem;

}
.bottom{
    width: 2rem;
    height: 0.5rem;
    position: absolute;
    top: 0rem;
    background-color: blue;
    transform: translateZ(0.25rem) rotateX(90deg);
    transform-origin: bottom;
    border-radius: 0.25rem;
}
.left{
    width: 0.5rem;
    height: 2rem;
    position: absolute;
    top: 0rem;
    background-color: blue;
    transform: translateZ(0.25rem) rotateY(90deg);
    border-radius: 0.25rem;
}
.right{
    width: 0.5rem;
    height: 2rem;
    position: absolute;
    top: 0rem;
    background-color: blue;
    transform: translateZ(0.25rem) rotateY(-90deg);
    border-radius: 0.25rem;
}
@keyframes rotateAnime{
    0%{
        transform: rotateY(0deg) rotateX(0deg);
    }
    100%{
        transform: rotateY(360deg) rotateX(360deg);
    }
}
@keyframes rotateLeftRight{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes heightIncrease {
    0%{
        top: 0.5rem;
        width: 4rem;
    }   
    100%{
        top: 0rem;
        width: 5rem;
    } 
}
@keyframes heightDecrease {
    0%{
        top: 0rem;
        width: 5rem;
    }   
    100%{
        top: 0.5rem;
        width: 4rem;
    } 
}*/
/*--------End of the social media icons------------*/

.wrapper{
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transform: rotateY(0deg) rotateX(0deg);
    transform-style: preserve-3d;
    animation: rotateLeftRight 5s linear infinite;
}
.wrapper:hover{
    animation: none;
}
.front{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 0.25rem;
    transform: translateZ(0.25rem) rotateY(0deg);
    backface-visibility: hidden;
}
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color:white;
    transform: translateZ(-0.25rem) rotateY(180deg);
    transform-origin: center;
    border-radius: 0.25rem;
    backface-visibility: hidden;
}
.top{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    position: absolute;
    top: 0;
    transform: translateZ(0.25rem) rotateX(-90deg);
    transform-origin: top;
    border-radius: 0.10rem;
}
.bottom{
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: 0;
    background-color: black;
    transform: translateZ(0.25rem) rotateX(90deg);
    transform-origin: bottom;
    border-radius: 0.10rem;
}
.left{
    width: 0.5rem;
    height: 2rem;
    position: absolute;
    left: 0;
    background-color: white;
    transform: translateZ(0.25rem) rotateY(90deg);
    transform-origin: left;
    border-radius: 0.025rem;
}
.right{
    width: 0.5rem;
    height: 2rem;
    position: absolute;
    right: 0;
    background-color: white;
    transform: translateZ(0.25rem) rotateY(-90deg);
    transform-origin: right;
    border-radius: 0.025rem;
}
@keyframes rotateAnime{
    0%{
        transform: rotateY(0deg) rotateX(0deg);
    }
    100%{
        transform: rotateY(360deg) rotateX(360deg);
    }
}
@keyframes rotateLeftRight{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes heightIncrease {
    0%{
        top: 0.5rem;
        width: 4rem;
    }   
    100%{
        top: 0rem;
        width: 5rem;
    } 
}
@keyframes heightDecrease {
    0%{
        top: 0rem;
        width: 5rem;
    }   
    100%{
        top: 0.5rem;
        width: 4rem;
    } 
}


/* Third div*/
.third-div{    
    width: 90%;
    min-height: 100vh;
    position: relative;
    top: 0rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.third-div-lower-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
}
.third-div .start-div{
    position: relative;
    top: 0rem;
    left: 0rem;
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}
.third-div .start-div .title{
    color: green;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.third-div .start-div .title-description{
    color: rgba(255,255,255,1);
}
.third-div .skills-section{
    width: 50rem;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    perspective: 100rem;
    transition: all 3s;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
@media screen and (max-width: 591px){
    div.third-div .skills-section{
        flex-direction: column;
        padding-left: 1rem;
    }
    div.third-div .skills-section .single-skill.show{
        margin-right: 0rem;
    }
    div.third-div .skills-section .single-skill{
        margin-right: -100%;
    }
    div.main-div{
        top: 2rem;
    }
    div.link-div{
        display: flex;
        flex-direction: column;
    }
}
.third-div .skills-section .single-skill{
    width: 20rem;
    height: 20rem;
    position: relative;
    background-color: transparent;
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 3s;
    transform: rotateY(0deg) rotateX(0deg);
    background-color: rgba(0,0,255,0.025);
    box-shadow: 0.1rem 0.1rem 0.5rem -5px rgba(255,255,255,1),-0.1rem -0.1rem 0.5rem -5px green; 
    animation: danglingEffect 1s linear alternate infinite;
}
.third-div .skills-section .single-skill.show{
    margin-right: 0rem;
}
.third-div .skills-section .single-skill:hover{
    animation: none;
}
.third-div .skills-section .single-skill:nth-of-type(even):hover{
    animation: none;
}
.third-div .skills-section .single-skill:nth-of-type(even){
    animation: danglingEffectReverse 1s alternate infinite;
}
@keyframes danglingEffect{
    0%{
        transform: rotateY(0deg) rotateX(0deg);
    }
    25%{
        transform: rotateY(-5deg) rotateX(-5deg);
    }
    50%{
        transform: rotateY(5deg) rotateX(-5deg);
    }
    75%{
        transform: rotateY(5deg) rotateX(5deg);
    }
    100%{
        transform: rotateY(5deg) rotateX(5deg);

    }
}
@keyframes danglingEffectReverse{
    0%{
        transform: rotateY(0deg) rotateX(0deg);
    }
    25%{
        transform: rotateY(5deg) rotateX(5deg);
    }
    50%{
        transform: rotateY(-5deg) rotateX(5deg);
    }
    75%{
        transform: rotateY(-5deg) rotateX(-5deg);
    }
    100%{
        transform: rotateY(5deg) rotateX(-5deg);

    }
}
.third-div .skills-section .single-skill:nth-of-type(odd){
    background-color: rgba(0,255,0,0.025);
    box-shadow: 0.1rem 0.1rem 0.5rem -5px rgba(255,255,255,1),-0.1rem -0.1rem 0.5rem -5px rgba(0,0,255,1); 
}
.third-div .skills-section .single-skill .logo-div{
    width: 100%;
    height: 3rem;
    position: relative;
    left: 2rem;
    top: 1rem;
}
 .single-skill .logo-div .fa-brands{
    font-size: 3rem;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
 }
.single-skill .skill-title{
    position: relative;
    top: 2rem;
    color: rgba(255,255,255,1);
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 0rem 1.5rem;
}
.single-skill:nth-of-type(even) .skill-title{
    color: rgba(0,255,0,1);
}
.single-skill .skill-description{
    color: rgba(255,255,255,1);
    position: relative;
    text-wrap: wrap;
    top: 3rem;
    left: 1.5rem;
    width: 90%;
    height: auto;
}
/*-----End of third div---- */


/* Projects Div*/
.projects-div{
    position: relative;
    top: 0rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    box-sizing: border-box;
    gap: 2rem;
}
@media screen and (max-width: 591px) {
    div.projects-div{
        padding: 0;
    }    
    div.project-lower-section{
        padding: 1rem;
    }
}
.project-lower-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /*padding: 2rem 2rem;*/
    box-sizing: border-box;
    overflow: hidden;
}
.project-profile{
    width: 30rem;
    height: 30rem;
    flex-grow: 1;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem rgba(0,0,255,1), inset 0.1rem 0.1rem 0.3rem 0.05rem rgba(0,0,255,1);
    box-sizing: border-box;
    margin-left: -100%;
    overflow: hidden;
    transition: all 3s;
}
.project-profile.show{
    margin-left: 0rem;
}
iframe.iframe-div{
    border: none;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}


div.project-description{
    width: 15rem;
    height: auto;
    flex-grow: 1;
    margin-right: 0rem;
    margin-top: 2rem;
    transition: all 3s;
    box-sizing: border-box;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project-title{
    color: rgba(0,0,255,1);
}
.brief-project-description{
    font-size: 1rem;
    font-weight: lighter;
}
.actual-profile-pic{
    width: 25rem;
    height: 20rem;
    object-fit: cover;
}


/*----End of projects div---------*/

/* The  intro animation */





.intro{
    width: 100%;
    height: 100vh;
    border-radius: 1rem;
    transition: all 3s;
}
@media screen and (max-width : 768px){
    .intro-section{
        width: 100%;
    }
    .intro{
        width:100%;
    }
}
.side{
    top: -40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    transition: all 5s;
    z-index: 10;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
    transform-origin: 50% 50%;        
    position: relative;
    transform: rotateY(calc(90deg * var(--i))) translateZ(5rem);
}
.side.hidden{
    display: none;
    visibility: hidden;
}

@keyframes introAnimation{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(0deg) rotateY(360deg);
    }
}
.intro .profession{
    background-color: black;
    width: fit-content;
    margin-top: -20rem;
    color: black;
    transition: all 5s;
}
.intro .profession.active{
    color: white;
    background-color: transparent;
    margin-top: 0;
}
.intro .arrow-container .action-button{
    width: 8rem;
    height: 2.5rem;
    margin-right: 0;
    border-radius: 2rem;
    background-color: rgba(255,0,255,0.7);
    font-weight: bolder;
    font-size: 1rem;
    color: blue;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem rgba(0,0,255,1);
}
.intro .arrow-container .action-button:hover{
    background-color: white;
}

.intro .arrow-container .fa-long-arrow-right{
    animation: arrowMove 1s infinite alternate;
    color:white;
    transition: all 0.3s;
}
.intro .arrow-container .fa-long-arrow-right:hover{
    animation-play-state: paused;
    margin-right: 0;
}
@keyframes arrowMove{
    0%{
        margin-right: 2rem;
        transform: rotateX(0deg);
    }
    100%{
        margin-right: 0rem;
        transform: rotateX(360deg);
    }
}
.intro .arrow-container{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
    color: blue;
    opacity: 0;
    transform-origin: left;
    transform: rotate(0deg);
    transition: all 3s;
}
.intro .arrow-container.active{
    column-gap: 0.3rem;
    transform: rotate(360deg);
    opacity: 1;
}
.side.fade-in{
    top: 3rem;
}
.intro .greetings{
    font-size: 1.5rem;
    font-weight: bolder;
    position: relative;
    margin-left: -120%;
    color: rgba(0,255,0,1);
    transition: all 1s;
    animation: greetAnime 2s linear infinite;
}
@keyframes greetAnime{
    0%{
        color: rgba(0,255,150,1);
    }
    25%{
        color: rgba(255,0,255,1);  
    }
    50%{
        color: rgba(0,0,255,1);  
    }
    75%{
        color: rgba(150,0,255,1);    
    }
    100%{
        color: rgba(255,255,255,1);    
    }
}
.intro .greetings.slide-right{
    margin-left: 5%;
}
.intro .my-name{
    color: blue;
    display: flex;
    justify-content: center;
}
.intro .my-name span{
    background-color: blue;
    opacity: 0;
    transition: all 0.5s;
}
.intro .my-name span.active{
    opacity: 1;
    background-color: transparent;
}

.intro .my-name span.space-center{
    width: 2rem;
    height: 2rem;
    background-color: transparent;
}
.intro .pronoun{
    color: rgba(255,255,255,1);
    font-size: 1.5rem;
    opacity: 0;
    transition: all 1s;
}
.intro .pronoun.active{
    opacity: 1;
}
/* ------------End of the intro animation--------*/

/*for the wrapper */
div.text-wrapper{
    width: auto;
    height: 3rem;
    color: blue;
    font-size: 2.5rem;
    font-weight: bolder;
    position: absolute;
    top: 0.5rem;
    left: 0.2rem;
    z-index: 21;
}
svg{
    position: absolute;
    left: 19px;
    bottom: 0px;
    transform: rotateZ(0deg);
    transform-origin: center;
    animation: svgRotate linear 5s infinite;
}
@keyframes svgRotate {
    0%{
        transform: rotateZ(0deg);
    }   
    100%{
        transform: rotateZ(360deg);
    } 
}
polygon{
    fill: white;
}
.text-wrapper .last-part{
    color: rgba(255,0,255,1);
}
/*---End of wrapper-------- */

/*The footer description */
.footer{
    position: relative;
    width: 100%;
    min-height: 5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-image: transparent;
}
@media screen and (max-width: 591px) {
    div.footer{
        background-image: linear-gradient(rgba(255,255,255,0.5) 5%,rgba(0,0,0,0)50%);
    } 
}
.footer .programming-languages{
    width: 100%;
    min-height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: space-evenly;
    justify-content: center;
}
.footer .programming-languages .fa-brands{
    font-size: 3rem;
    border-radius: 0rem;
    background-color: transparent;
} 
.footer p{
    color: rgba(0,0,255,1);
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: medium;
}
.footer .socials span.fa-mail-bulk{
    color: red;
}
.footer .socials span.fa-github{
    color: white;
}
.footer .socials span.fa-twitter{
    color: rgba(0,200,255,1);
}
.footer .socials{
    width: 100%;
    min-height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: space-evenly;
    justify-content: center;
}
.footer .fa-brands{
    position:relative;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 0.25rem;
}
.footer .fa-solid{
    position:relative;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 0.25rem;
}
/*----End of footer----- */

div.link-div{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
link.live-link{
    font-size: 2rem;
}

a.link-ref{
    color: blue;
    font-size: 1.6rem;
    font-weight: bold;
}

